<div class="width80">
<button type="button" ng-click="edit()" class="btn btn-primary pull-right">
<span ng-show="!editItems"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit</span>
<span ng-show="editItems">&nbsp;Save</span>
</button>
</div>

<form class="addItem width80" ng-show="editItems">
<input type="text" ng-model="form.name" Placeholder="Name of Equipment"/>
<textarea type="text" placeholder="Description" ng-model="form.description"></textarea>
<button type="button" ng-click="addItem()" class="btn btn-primary">Add Item</button>
</form>

<accordion close-others="true">
	<accordion-group ng-repeat="obj in tabModel[0].model" class="width80" is-disabled="editItems" is-open="isOpened[$index]">
		<accordion-heading>
            {{obj.name}}
            <button type="button" ng-click="deleteItem($index)" class="btn btn-danger" ng-show="editItems">X</button>
        </accordion-heading>
		{{obj.description}}
	</accordion-group>
</accordion>