<div class="width80">
<button type="button" ng-click="edit()" class="btn btn-primary pull-right">
<span ng-show="!editItems"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit</span>
<span ng-show="editItems">&nbsp;Save</span>
</button>
</div>

<form class="addItem width80" ng-show="editItems">
<input type="text" ng-model="form.name" Placeholder="Name of Equipment"/>
<textarea type="text" placeholder="Description" ng-model="form.description"></textarea>
<button type="button" ng-click="addItem()" class="btn btn-primary">Add Item</button>
</form>

<accordion close-others="true">
	<accordion-group ng-repeat="obj in tabModel[1].model" class="width80" is-disabled="disabled" is-open="isOpened[$index]">
		<accordion-heading>
            <span ng-show = "!editItem[$index]">{{obj.name}}</span>
            <input ng-model = "obj.name" ng-show = "editItem[$index]" />
            <i class="glyphicon glyphicon-pencil pull-right" ng-show="!editItems && !editItem[$index]" ng-click="editRow($index)"></i>
            <i class="glyphicon glyphicon-ok pull-right" ng-show="!editItems && editItem[$index]" ng-click="editRow($index)"></i>
            <button type="button" ng-click="deleteItem($index)" class="btn btn-danger" ng-show="editItems">X</button>
        </accordion-heading>
		<span ng-show = "!editItem[$index]">{{obj.description}}</span>
		<textarea ng-model = "obj.description" ng-show = "editItem[$index]" rows="10" resizable="false"/>
	</accordion-group>
</accordion>