<form name="loginForm" class="form">
	<div class="message error"><span ng-show='message'>{{message}}</span></div>
	<input type="text" name="userid" ng-model="loginFormData.username" placeholder="Username/Mobile" ngRequired>
	<input type="password" name="password" ng-model="loginFormData.password" placeholder="Password" ngRequired>
	<input type="submit" value="Login" ng-click=loginUser(loginForm)>
</form>

<a href="admin.html" class="btn btn-info">Admin</a>
<a href="employee.html" class="btn btn-info">Employee</a>
<a href="customer.html" class="btn btn-info">Customer</a>