  <tabset justified="true">
    <tab heading="Activities" ng-click = "activeTab = $index"><div ng-include src="'views/admin/activities.html'"></div></tab>
    <tab heading="Equipments" ng-click = "activeTab = $index"><div ng-include src="'views/admin/equipments.html'"></div></tab>
    <tab heading="Facilities" ng-click = "activeTab = $index"><div ng-include src="'views/admin/facilities.html'"></div></tab>
    <tab heading = "Packages" ng-click = "activeTab = $index"><div ng-include src="'views/admin/packages.html'"></div></tab>
  </tabset>